@* Views/Shared/_Workspace.cshtml *@
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>…</header>
    <main class="container">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
