@using StoryGame.Models
@model Tuple<IEnumerable<Story>, int?>

@{
    var stories   = Model?.Item1 ?? Enumerable.Empty<Story>();
    int? currentId = Model?.Item2;
}

<ul class="story-list">
@foreach (var s in stories)
{
    var isActive = currentId.HasValue && currentId.Value == s.StoryId;
    <li>
        <a class="btn btn-ghost btn-block story-item @(isActive ? "is-active" : "")"
           data-id="@s.StoryId"
           href="@Url.Action("Create","Story", new { id = s.StoryId })">
            <span class="bullet">✦</span>
            <span class="title">@s.Text</span>
        </a>
    </li>
}
</ul>
