@model Story

<section class="details-wrap">
  <header class="masthead">
    <h1 class="page-title">All Scenes for <strong>@Model.Text</strong></h1>
  </header>

  <ul class="scene-list">
    @foreach (var scene in Model.ScenesList)
    {
      <li>
        <a href="/Scene/Update/@scene.SceneId" class="btn btn-primary">@scene.Text</a>
      </li>
    }
  </ul>

  <div class="toolbar">
    <a asp-action="CreateScene" asp-controller="Scene" asp-route-storyId="@Model.StoryId" class="btn btn-dark">Create new Scene</a>
    <a asp-action="Delete" asp-controller="Story" asp-route-id="@Model.StoryId" class="btn btn-danger">Delete Story</a>
  </div>
</section>
