# .NET build
bin/
obj/

# SQLite local DB
*.db
*.db-shm
*.db-wal

# Frontend deps/build
node_modules/
dist/
build/
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.g.props
*.g.targets
.vscode/
*.user
*.suo
*.db
