@model Choice

<div class="table-wrap">
<h1 class="page-title">Update Choice</h1>
<form asp-action="Update" asp-controller="Choice" method="post" class="form-card">
<input type="hidden" asp-for="ChoiceId"/>
<input type="hidden" asp-for="ThisSceneId" />
<input type="hidden" asp-for="NextSceneId" />

    <div class="form-group">
        <label asp-for="Text"></label><span class="text-danger">*</span>
        <input asp-for="Text" class ="form-control"/>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    @if (Model.NextScene != null) {
        <div class="form-group">
        <p><strong>Next Scene:</strong> @Model.NextScene.Text</p>
        </div>
    }
    <div class="toolbar">
    <button type="submit" class="btn btn-success mt-3">Save Changes</button>
    <a class="btn btn-outline-danger" asp-controller="Choice" asp-action="Delete" asp-route-id="@Model.ChoiceId">Delete Choice</a>
    </div>
</form>
</div>