<div class="container">
<table cellpadding=250>
<tr>
<td><a href="/Story/TableStory" class="btn btn-dark">Story Creation</a></td>
<td><a href="/Story/StoryView" class="btn btn-primary">Story Viewer</a></td>
</tr>
</table>
</div>

